<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Prueba</title>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-ui-date/ui-date.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>

    <script src="js/application.js"></script>
    <script src="js/ContentController.js"></script>
  </head>
  <body>
    <h1>This is my amazing app</h1>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, laborum quo facilis sint non nulla dignissimos rerum quos optio tempora maiores obcaecati modi sapiente ullam quae tempore adipisci commodi officia.</li>
      <li>Fugiat, eaque, ad, magnam consequuntur non similique qui hic odit dolorum voluptas pariatur iusto laboriosam cum placeat animi accusantium vero? Corporis, qui sit nisi voluptate nobis deserunt laboriosam harum error.</li>
      <li>Quam, aliquid, perferendis, deleniti, ea dignissimos vitae nisi magnam provident vel ut corporis iusto laboriosam cum quaerat eveniet in optio officiis voluptatibus. Consectetur quaerat atque ipsam quis tenetur molestias quasi?</li>
      <li>Accusantium, hic laudantium cumque optio ab at libero ipsam alias commodi dolorem delectus aut eius officia excepturi aperiam asperiores nulla blanditiis eveniet deserunt nisi. Quidem, reprehenderit cum dolore eos quo.</li>
      <li>Eius, molestias magnam officia voluptatum adipisci voluptas quia et nam! Illo, beatae, ipsum vero ad sequi minima aut fugit? Aspernatur, recusandae pariatur tempora incidunt unde in illum cupiditate! Vero, laboriosam.</li>
    </ul>
    <div ng-view=""></div>
  </body>
</html>